footer {
    height:10vh;
    width: 100%;
    background-color: #09091c;
    color: white;
    a {
        color:white;
    }
    p:nth-child(1) {
        margin:10px;
    }
    p:nth-child(2) {
        margin:10;
    }
}