#post-cont {
    width:100vw;
    display: flex;
    height:100vh;
    flex-direction: column;
    .MuiBreadcrumbs-separator {
        color:white;
    }
    nav {
        padding:5px;
        height:10vh;
        background-color: #09091c;
        ol {
            margin-left:22vw;
            margin-top: 3vh;
        }
    }
}
#post-img {
    width:100%;
    img {
        width:100%;
    }
}
.MuiBreadcrumbs-separator {
    color:black;
}
.Breadcrumbs {
    

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      button:hover {
        opacity: 0.7;
      }
  }
  .price {
    color: grey;
    font-size: 22px;
  }
  #similar-cont {
      min-height:10vh;
      background-color: grey;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      div {
          width:30%;
      }
  }
@media only screen and (min-width: 600px) {
    #post-cont {
        nav {
            ol {
                
                margin-left: 38vw;
            }
        }
    }    
}